body{
	margin: 0;
	padding: 0;
}

button{
	font-weight: bold;
	color: #ffffff;
	background-color: rgb(216, 111, 111);
	border: none;
	border-radius: 5px;
	padding: 4px 5px;
}

button:hover {
	background: #df4d52;
}
@keyframes shrinkAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
button:active {
  animation: shrinkAnimation 0.1s ease-in-out;
}


.container {
  width: 180px;
	height: 300px;
  color: #000000;
	font-family: 'Roboto', sans-serif;
}

.title__container {
	display: flex;
	justify-content: space-between;
	align-self: center;

	font-weight: bold;
  font-size: 14px;
	color: white;
  padding: 8px;
	background-color: #000000;
	border-radius: 0 0 5px 5px;
}

.title{
	font-size: 20px;
}
